{% import '_components.html' as ui %}
<title hx-swap-oob="true">{{ title }}</title>

<div class="panel" style="margin-top:12px">
  <div class="panel-body" style="display:flex; justify-content:flex-end">
    <a href="#" class="btn btn-primary"><i class="ti ti-plus"></i> Create</a>
  </div>
  <div class="panel-body" style="padding-top:0">
    <table class="table">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Store</th>
          <th>User</th>
          <th>Products</th>
          <th>Created at</th>
          <th style="text-align:right">Actions</th>
        </tr>
      </thead>
      <tbody id="admins-table">
        {% include 'admins/_table.html' %}
      </tbody>
    </table>
  </div>
</div>
